#index_body_container {
    width: 1130px;
    height: 780px;
    border-radius: 20px;
    background-color: rgba(127, 127, 127, 0.06);
    position: relative;
}

#index_body_container table {
	margin: auto;
	width: 80%;
	border-spacing: 0 20px;
}

/*footer는 view_board.html도 공용으로 사용할것*/
#footer {
	width: 1230px;
	height: 110px;
}

#footer > img {
	position: relative;
	left: 300px;
}

#footer_inner_one {
	height: 50px;
}

#footer_inner_two {
	height: 50px;
}

.tr_inner_container {
    width: 900px;
    height: 90px;
    margin: 0 auto;
    display: flex;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 7px;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
}

.tr_inner_up_div {
    display: flex;
    width: 840px;
    border-bottom: 1px solid lightgray;
    margin: 0 auto;
    background-color: white;
    line-height: 2;
    justify-content: space-between;
}

.tr_inner_under_div {
	display: flex;
	width: 840px;
	margin: 0 auto;
	border: solid transparent;
	line-height: 2;
}

.title_wrap {
    display: flex;
}

.board_kinds {
    height: 30px;
    color: #ffc760;
}

.board_title {
    height: 30px;
    margin-left: 17px;
    color: #232338;
}

.board_writer {
    height: 30px;
    color: #454545;
    margin-right: 17px;
}

.board_date {
    height: 30px;
    color: #454545;
    margin-right: 17px;
}

.board_view_cnt {
    width: 30px;
    height: 30px;
    color: #454545;
}

.tr_inner_under_div_contents {
    height: 37px;
    border: solid transparent;
    color: gray;
}

.board_kinds, .board_title, .board_writer, .board_date, .board_view_cnt
	{
	font-family: '나눔스퀘어_ac';
	font-weight: bold;
}

.wrap, #search_case, .write_body .page{
	border: solid transparent;
}

#footer {
	display: flex;
	justify-content: center;
	border: solid transparent;
}

.span {
	border: solid transparent;
}

.page {
    justify-content: center;
    height: 80px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    margin: auto;
}

.page>i {
    font-size: 25px;
    color: #cccccc;
    margin-top: 4px;
}
.page>i:hover{
	color: #b3b3b3;
	cursor: pointer;
}

.page>div{
	display: flex;
}

.page>div>span:hover{
	color: #bfbfbf;
	cursor: pointer;
}

.page>div>span{
	margin-right: 20px;
}

#search_case_inner_div_3 input {
    width: 250px;
    height: 30px;
    font-size: 13px;
    border-radius: 7px;
    border: solid 2px lightgray;
}

#search_case_inner_div_3 select {
    width: 110px;
    height: 35px;
    font-size: 13px;
    border-radius: 7px;
    margin: 0 10px 0 100px;
    border: solid 2px lightgray;
    cursor: pointer;
}

.bee {
    margin-left: 10px;
    width: 60px;
    height: 60px;
}

#search_case {
    width: 1130px;
    height: 65px;
    margin: 30px 0 9px 0;
    display: flex;
    justify-content: space-between;
}

i.fas.fa-pen-square {
    position: absolute;
    color: #e67e00;
    font-size: 50px;
    right: 0;
    cursor: pointer;
}

.modal{
	box-shadow:none;
	border-radius: 5px;
	background-color: #ededed;
	position: fixed;
	
}

#modal{
	height: 1285px;
}


/* 팝업창제목 */
.modal_tit{
	font-size: 15px;
}

/* 팝업창 크기 */
.simple_modal{
	height: 150px;
	width: 400px;
}

/* 팝업창 버튼 색 */
.modal_left_btn {
	background-color: #bebebe;
	border: none;
}

.modal_right_btn {
	background-color: #6297d5;
	border: none;
}
