<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.hehyeop.admin.model.repository.AdminRepository">

		<insert id="rejectJoin" statementType="CALLABLE">
  		{call SP_REJECT_CMEMBER (#{id, mode=IN})}
  		</insert>

		<update id="updatePermitedField" statementType="CALLABLE">
			{call SP_UPDATE_COMPANY_FIELD (#{id, mode=IN}, 
				#{fields, mode=IN, typeHandler=com.kh.hehyeop.common.mybatis.FieldTypeHandler})}
		</update>
		

</mapper>