<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.hehyeop.company.model.repository.CompanyRepository"> 
	<select id="selectRequestList" resultType="HelpRequest">
		select *
		from (select rownum rnum, v.*
        		from help_request v
        		where ongoing = 0 and field in
		<foreach collection="companyFieldList" item="companyFieldList" open="(" close=")" separator=",">
						#{companyFieldList.field}
		</foreach>
		<if test="area == null">
		and old_address in
		<foreach collection="addressList" item="addressList" open="(" close=")" separator=",">
						#{addressList}
		</foreach>
		</if>
		<if test="area != null">
		and old_address like '%'||#{area}||'%'  
		</if>
		order by v.reg_date desc)
		where rnum between #{paging.start} and #{paging.end}
	</select>

	<select id="selectRequestListById" resultType="MyRequest">
		select *
		from (select rownum rnum ,v.* 
				from help_request v
				where req_idx in 
				(select req_idx from help_response where id = #{id} and ongoing = #{state})   
				order by v.reg_date desc)   
		where rnum between #{paging.start} and #{paging.end}		    
	</select>
	
	<select id="selectRequestListCntById" resultType="_int">
		select count(*) from help_request
		where req_idx in 
		(select req_idx from help_response where id = #{id} and ongoing = #{state}) 
	</select>
	
	<select id="countRequest" resultType="_int">
		select count(*) from help_request
		where ongoing = 0 and field in
		<foreach collection="companyFieldList" item="companyFieldList" open="(" close=")" separator=",">
						#{companyFieldList.field}
		</foreach>
		
		<if test="area == null">
		and old_address in
		<foreach collection="addressList" item="addressList" open="(" close=")" separator=",">
						#{addressList}
		</foreach>
		</if>
		<if test="area != null">
		and old_address like '%'||#{area}||'%'  
		</if>
	</select>
	
</mapper>