<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.hehyeop.help.model.repositroy.HelpRepository"> 
  
  	<select id="countReview" resultType="_int">
  		
  		select count(*) from v_review 
  		<choose>
  			<when test="field != 'all' and addressList == null">where field = #{field}</when>
  			<when test="field == 'all' and addressList != null">
  				where old_address in
			  		<foreach collection="addressList" item="list" open="(" close=")" separator=",">
						#{list}
					</foreach>
			</when>
  			<when test="field != 'all' and addressList != null">
  				where field = #{field} and old_address in
  				<foreach collection="addressList" item="list" open="(" close=")" separator=",">
					#{list}
				</foreach>
  			</when>
  		</choose>		
  	</select> 
  
	<select id="selectReviewList" resultType="Review">
		select * 
		from (select rownum rnum, v.* 
			  from v_review v 
			  <choose>
			  	<when test="field != 'all' and addressList == null">where field = #{field}</when>
			  	<when test="field == 'all' and addressList != null">
			  		where old_address in
			  		<foreach collection="addressList" item="list" open="(" close=")" separator=",">
						#{list}
					</foreach>
			  	</when>
			  	<when test="field != 'all' and addressList != null">
				  	where field = #{field} and old_address in
		  				<foreach collection="addressList" item="list" open="(" close=")" separator=",">
							#{list}
						</foreach>
			  	</when>
			  </choose>
			 ) 
		where rnum between #{paging.start} and #{paging.end}
	</select>
	
	<resultMap type="map" id="estimateCnt">
		<result column="req_idx" javaType="String" property="reqIdx"/>
		<result column="estimate_cnt" javaType="int" property="estimateCnt"/>
	</resultMap>
	
	<select id="selectEstimateCntById" resultMap="estimateCnt">
		select q.req_idx as req_idx, count(*) as estimate_cnt from help_request q join help_response s on(q.req_idx = s.req_idx) where q.id = #{id} group by q.req_idx
	</select>
	
	<resultMap type="map" id="reqNameAndResId">
		<result column="req_name" javaType="String" property="reqName"/>
		<result column="id" javaType="String" property="id"/>
	</resultMap>
	
	<select id="selectCMemberIdByReqIdx" resultMap="reqNameAndResId">
		select q.req_name as req_name, s.id as id from help_request q join help_match m on(q.req_idx = m.req_idx) join help_response s on(m.res_idx = s.res_idx) where m.req_idx = #{reqIdx}
	</select>
	
	<update id="cancelRequest" statementType="CALLABLE">
		{call SP_UPDATE_HELP_REQUEST_CANCEL(#{reqIdx, mode=IN})}
	</update>
	
	<update id="completeRequest" statementType="CALLABLE">
		{call SP_UPDATE_HELP_REQUEST_COMPLETE(#{reqIdx, mode=IN})}
	</update>
	
	<insert id="insertHelpReview" statementType="CALLABLE">
		{call sp_insert_help_review(
			#{reqIdx, mode=IN}
			, #{score, mode=IN}
			, #{commentArr, mode=IN, typeHandler=com.kh.hehyeop.common.mybatis.ReviewTypeHandler}
		)}
	</insert>
  
</mapper>