<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.hehyeop.help.model.repositroy.HelpRepository"> 
  
  	<select id="countReview" resultType="_int">
  		<if test="field == 'all'">
  		select count(*) from v_review
  		</if>
  		<if test="field != 'all'">
  		select count(*) from v_review where field = #{field}
  		</if>
  	</select> 
  
	<select id="selectReviewList" resultType="Review">
		<if test="field == 'all'">
		select * from (select rownum rnum, v.* from v_review v) where rnum between #{paging.start} and #{paging.end}
		</if>
		<if test="field != 'all'">
		select * from (select rownum rnum, v.* from v_review v where field = #{field}) where rnum between #{paging.start} and #{paging.end}
		</if>
	</select>
  
</mapper>