<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.hehyeop.management.model.repository.ManagementRepository"> 

	<insert id="insertFixedSpend">
		insert into f_expense
		<if test="form.endDate == null">
			(f_exp_idx, id, content, price, days, cycle, start_date)
		</if>
		values(sc_f_expense_idx.nextval, #{id}, #{form.content}, #{form.price}, #{form.days}, #{form.cycle}, #{form.startDate}
		<if test="form.endDate != null">
			, #{form.endDate}
		</if>
		)
	</insert>

	<select id="selectExpenseList" resultType="Expense">
		select * from expense
	  <choose>
	  	<when test="cate == 'all'">where id = #{id} and exp_date like #{period}||'%'</when>
	  	<when test="cate != 'all'">where id = #{id} and category = #{cate} and exp_date like #{period}||'%'</when>
	  </choose>
	  	order by to_date(exp_date) asc
	</select>

</mapper>