<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.kh.hehyeop.member.model.repository.MemberRepository"> <!-- namespace는 프록시객체명이 된다. -->
  
  	<insert id="insertFields">
  		{call sp_field_insert(#{id, mode=IN}, #{fields, mode=IN, typeHandler=com.kh.hehyeop.common.mybatis.FieldTypeHandler})}
  	</insert>
  	
  	
  	
  	
  
  
  </mapper>