<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.kh.hehyeop.mypage.model.repository.MypageRepository"> 
  
  	<update id="insertToken">
  		update push_token 
  		<set>
  			<if test="device=='pc'">
  				pc_token=#{token} where id=#{id}
  			</if>
  			<if test="device=='mobile'">
  				mobile_token=#{token} where id=#{id}
  			</if>
  		</set> 	
  	</update>
  	
  	<update id="deleteToken">
  		update push_token 
  		<set>
  			<if test="device=='pc'">
  				pc_token=null where id=#{id}
  			</if>
  			<if test="device=='mobile'">
  				mobile_token=null where id=#{id}
  			</if>
  		</set> 	
  	</update>
	
	<select id="selectPushTokensByManyId" resultType="Token">
		select * from push_token where id in
		<foreach collection="list" item="userId" open="(" close=")" separator=",">
			#{userId}
		</foreach>
	</select>
  	
  	
  
  
  </mapper>