<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.hehyeop.purchase.model.repository.PurchaseRepository"> 
  
	<select id="selectRegisterList" resultType="PurchaseMain">
	select *
	from (select rownum rnum, v.id, v.reg_idx, v.price, v.item_name, v.rest_num, v.deal_loc, v.link from v_select_purchase_main v
	
	<choose>
		<when test="grade != 'all' and addressList == null and keyword == null">
			where v.grade = #{grade}
		</when>
		<when test="grade == 'all' and addressList != null and keyword == null">
			where v.deal_loc in
				<foreach collection="addressList" item="list" open="(" close=")" separator=",">
					#{list}
				</foreach>
		</when>
		<when test="grade == 'all' and addressList == null and keyword != null">
			where v.item_name like '%'||#{keyword}||'%'
		</when>
		<when test="grade != 'all' and addressList != null and keyword == null">
			where v.grade = #{grade} and v.deal_loc in
				<foreach collection="addressList" item="list" open="(" close=")" separator=",">
					#{list}
				</foreach>
		</when>
		<when test="grade == 'all' and addressList != null and keyword != null">
			where v.deal_loc in
				<foreach collection="addressList" item="list" open="(" close=")" separator=",">
					#{list}
				</foreach> and v.item_name like '%'||#{keyword}||'%'
		</when>
		<when test="grade != 'all' and addressList == null and keyword != null">
			where v.grade = #{grade} and v.item_name like '%'||#{keyword}||'%'
		</when>
		<when test="grade != 'all' and addressList != null and keyword != null">
			where v.grade = #{grade} and v.item_name like '%'||#{keyword}||'%'
			and v.deal_loc in
				<foreach collection="addressList" item="list" open="(" close=")" separator=",">
					#{list}
				</foreach>
		</when>
	</choose>
	)
	where rnum between #{paging.start} and #{paging.end}
	</select>
	
	
	<select id="countRegister" resultType="_int">
	
	select count(*) from v_select_purchase_main
	
	<choose>
		<when test="grade != 'all' and addressList == null and keyword == null">
			where grade = #{grade}
		</when>
		<when test="grade == 'all' and addressList != null and keyword == null">
			where deal_loc in
				<foreach collection="addressList" item="list" open="(" close=")" separator=",">
					#{list}
				</foreach>
		</when>
		<when test="grade == 'all' and addressList == null and keyword != null">
			where item_name like '%'||#{keyword}||'%'
		</when>
		<when test="grade != 'all' and addressList != null and keyword == null">
			where grade = #{grade} and deal_loc in
				<foreach collection="addressList" item="list" open="(" close=")" separator=",">
					#{list}
				</foreach>
		</when>
		<when test="grade == 'all' and addressList != null and keyword != null">
			where deal_loc in
				<foreach collection="addressList" item="list" open="(" close=")" separator=",">
					#{list}
				</foreach> and item_name like '%'||#{keyword}||'%'
		</when>
		<when test="grade != 'all' and addressList == null and keyword != null">
			where grade = #{grade} and item_name like '%'||#{keyword}||'%'
		</when>
		<when test="grade != 'all' and addressList != null and keyword != null">
			where grade = #{grade} and item_name like '%'||#{keyword}||'%'
			and deal_loc in
				<foreach collection="addressList" item="list" open="(" close=")" separator=",">
					#{list}
				</foreach>
		</when>
	</choose>
	
	
	</select>
	
	
	<select id="countMyPurchase" resultType = "_int">
		select count(*) from purchase_register
		<choose>
			<when test = "ongoing == 0 or ongoing == 1 or ongoing == 2">
			PR left join purchase_match PM using(reg_idx) left join purchase_join PJ using(join_idx) where (PR.id = #{id} OR PJ.id = #{id}) and ongoing = #{ongoing}
			</when>
			<when test = '"N".equals(done) or "Y".equals(done)'>
			where id = #{id} and done = #{done}
			</when>
			<otherwise>
			PR left join purchase_match PM using(reg_idx) left join purchase_join PJ using(join_idx) where (PR.id = #{id} OR PJ.id = #{id})
			</otherwise>
		</choose>
	</select>
	
	
	<select id="selectMyPurchaseInfo" resultType="myPurchaseInfo">
		select * 
			from (select rownum rnum, v.* from 
			(select join_idx, reg_idx, match_idx, PR.id, item_name, deal_loc, deal_time, done, ongoing, join_buy_num, PJ.id AS buyer_id from purchase_register PR left join purchase_match PM 
			using(reg_idx) left join purchase_join PJ using(join_idx)
			  <choose>
			  	<when test = "ongoing == 0 or ongoing == 1 or ongoing == 2">   <!-- 스프링에선 String이어도 마이바티스로 오면 int 로 처리되는듯 -->
			  		where (PR.id = #{id} OR PJ.id = #{id}) and ongoing = #{ongoing}) v)
			  	</when>
			  	<when test = '"N".equals(done) or "Y".equals(done)'>
				  	where (PR.id = #{id} OR PJ.id = #{id}) and done = #{done} and ongoing is null) v)
			  	</when>
			  	<otherwise>
				  	where PR.id = #{id} OR PJ.id = #{id}) v)
			  	</otherwise>
			  </choose>
		where rnum between #{paging.start} and #{paging.end}
	</select>
	
	
	<select id="selectjoinCount" resultType="_int">
		select count(join_idx) 
		FROM v_select_purchase_main v left join purchase_match using (reg_idx) 
		<choose>
			<when test="grade != 'all' and addressList == null and keyword == null">
				where v.grade = #{grade}
			</when>
			<when test="grade == 'all' and addressList != null and keyword == null">
				where v.deal_loc in
					<foreach collection="addressList" item="list" open="(" close=")" separator=",">
						#{list}
					</foreach>
			</when>
			<when test="grade == 'all' and addressList == null and keyword != null">
				where v.item_name like '%'||#{keyword}||'%'
			</when>
			<when test="grade != 'all' and addressList != null and keyword == null">
				where v.grade = #{grade} and v.deal_loc in
					<foreach collection="addressList" item="list" open="(" close=")" separator=",">
						#{list}
					</foreach>
			</when>
			<when test="grade == 'all' and addressList != null and keyword != null">
				where v.deal_loc in
					<foreach collection="addressList" item="list" open="(" close=")" separator=",">
						#{list}
					</foreach> and v.item_name like '%'||#{keyword}||'%'
			</when>
			<when test="grade != 'all' and addressList == null and keyword != null">
				where v.grade = #{grade} and v.item_name like '%'||#{keyword}||'%'
			</when>
			<when test="grade != 'all' and addressList != null and keyword != null">
				where v.grade = #{grade} and v.item_name like '%'||#{keyword}||'%'
				and v.deal_loc in
					<foreach collection="addressList" item="list" open="(" close=")" separator=",">
						#{list}
					</foreach>
			</when>
		
		</choose>
		group by reg_idx order by reg_idx desc
	</select>
	
	<update id="updateJoinPoint" statementType="CALLABLE">
		{call SP_UPDATE_JOIN_POINT(#{joinIdList, mode=IN, typeHandler=com.kh.hehyeop.common.mybatis.IdListTypeHandler}, 
								   #{joinIdxList, mode=IN, typeHandler=com.kh.hehyeop.common.mybatis.IdxListTypeHandler)
	</update>
  
</mapper>  