<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.hehyeop.purchase.model.repository.PurchaseRepository"> 
  
	<select id="selectRegisterList" resultType="PurchaseMain">
	
	select reg_idx, price, item_name, rest_num, deal_loc, link from v_select_purchase_main
	
	<choose>
		<when test="grade != 'all' and area == null and keyword == null">
			where grade = #{grade}
		</when>
		<when test="grade == 'all' and area != null and keyword == null">
			where deal_loc in
				<foreach collection="addressList" item="area" open="(" close=")" separator=",">
					#{area}
				</foreach>
		</when>
		<when test="grade == 'all' and area == null and keyword != null">
			where item_name like '%'||#{keyword}||'%'
		</when>
		<when test="grade != 'all' and area != null and keyword == null">
			where grade = #{grade} and deal_loc in
				<foreach collection="addressList" item="area" open="(" close=")" separator=",">
					#{area}
				</foreach>
		</when>
		<when test="grade == 'all' and area != null and keyword != null">
			where deal_loc in
				<foreach collection="addressList" item="area" open="(" close=")" separator=",">
					#{area}
				</foreach> and item_name like '%'||#{keyword}||'%'
		</when>
		<when test="grade != 'all' and area == null and keyword != null">
			where grade = #{grade} and item_name like '%'||#{keyword}||'%'
		</when>
		<when test="grade != 'all' and area != null and keyword != null">
			where grade = #{grade} and item_name like '%'||#{keyword}||'%'
			and deal_loc in
				<foreach collection="addressList" item="area" open="(" close=")" separator=",">
					#{area}
				</foreach>
		</when>
	</choose>
	
	
	</select>
  	
  
</mapper>  