body{
 -ms-overflow-style: none;
  margin: 0;
 }
 
::-webkit-scrollbar {
  display: none;
}

div {
	animation-duration: 1s;
}

.chatting{
   position: fixed;
   height: 80px;
   width: 80px;
   background-image: url("../../../../resources/image/chatting.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   right: 20px;
   bottom: 20px;
   border-radius: 100px;
   box-shadow: 2px 2px 5px 1px #666666;
   z-index: 99;
}

.chatting2{
   position: fixed;
   height: 58px;
   width: 58px;
   background-image: url("../../../../resources/image/chatting.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   right: 95px;
   bottom: 25px;
   border-radius: 100px;
   box-shadow: 2px 2px 5px 1px #666666;
   z-index: 99;
}

.chatting:hover{
   background-color: #e3d79c;
}

#chatting_main{
	border-style: none;
	border-width: 2px;
	position: fixed;
	right: 100px;
   	bottom: 100px;
	width: 430px;
	height: 380px;
	border-radius: 35px;
	background-color: rgba(250, 248, 245, 0.78);
	box-shadow: 0 0 5px 0;
	flex-direction: column;
	align-items: center;
	z-index: 20000000;
}

#chatting_title{
	display: flex;
	width: 400px;
	height: 80px;
	justify-content: flex-start;
	margin: 10px 0 0 0;
}

#chatting_title>img{
	width: 66px;
	height: 66px;
	margin-right: 20px;
}

#chatting_title>div{
	font-size: 20px;
	margin-top: 20px;
	color: rgb(51, 51, 51);
	font-weight: bold;
}

#chatting_list{
	flex-direction: column;
}

#chatting_list>p{
	font-size: 20px;
}

#myList{
	width: 380px;
	height: 200px;
	background-color: white;
	border-radius: 15px;
	box-shadow: 0 0 3px 0;
	overflow: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#chatItem{
	width: 358px;
	min-height: 48px;
    height: 48px;
    margin: 10px 0 5px 0;    
    border: 1px solid #bcbcbc;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: lightgoldenrodyellow;
    box-shadow: 0 1px 1px 1px lightgrey;
}

#chatItemTitle {
	font-weight: bolder;
    font-size: 15px;
    margin-left: 20px;
    max-height: 20px;
    width: 160px;
    overflow: hidden;
}

#chatAlarm {
	width: 30px;
	height: 20px;
	font-weight: bold;
	text-align: center;
}

.unread {
	color: red;
}

.read {
	color: transparent;
}

#chatItemBtn {
	width: 70px;
    height: 32px;
    font-weight: bolder;
    font-size: 17px;
    color: black;
    margin-right: 20px;
    background: lightgoldenrodyellow;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 2px 2px 2px lightgrey;
    cursor: pointer;
}

#chatItemBtn:hover {
	background: rgb(255, 228, 181);
	box-shadow: 0 4px 4px 4px lightgrey;
}

#chattingRoom {
	width: 425px;
	height: 600px;
	position: fixed;
	right: 100px;
   	bottom: 100px;
   	border: none;
   	z-index: 9999999;
   	background-color: rgba(250, 248, 245, 0.78); 
	border-width: 0px; 
	border-style: none; 
	border-radius: 35px; 
	box-shadow: rgba(0, 0, 0, 0.28) 0px 0px 10px 1px;
}

#galigae {
    position: fixed;
    bottom: 106px;
    right: 25px;
    width: 310px;
    height: 79px;
    background: black;
    z-index: 99999999999;
}