@charset "UTF-8";
body{
 -ms-overflow-style: none;
  margin: 0;
  width: 424px;
  height: 599px;
 }
 
::-webkit-scrollbar {
  display: none;
}

html {
	width: 424px;
	height: 599px;
}

.room_con {
	position: relative;
	width: 424px;
	height: 599px;
	background-color: rgba(250, 248, 245, 0.78); 
	border-width: 0px; 
	border-style: none; 
	border-radius: 35px; 
	box-shadow: rgba(0, 0, 0, 0.28) 0px 0px 10px 1px;
}

#back {
	position: absolute;
	top: 10px;
	right:17.5px;
	font-size: 20px;
	cursor: pointer;
	color: red;
}

#out {
    width: 105px;
    height: 31px;
    position: relative;
    right: -2px;
    background: lightcoral;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 1px 1px lightgrey;
    cursor: pointer;
}

#out:hover {
	background: red;
}

#out>div {
	color: white;
	font-size: 13px;
}

#rename {
    width: 105px;
    height: 31px;
    position: relative;
    right: -2px;
    background: lightskyblue;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 1px 1px lightgrey;
    cursor: pointer;
    margin-bottom: 25px;
}

#rename:hover {
	background: blue;
}

#rename>div {
	color: white;
	font-size: 13px;
}

#plusBtn {
	position: absolute;
	top: 60px;
	right:17.5px;
	font-size: 22px;
	cursor: pointer;
	color: gray;
}

#plusBtn:hover {
	color: black;
}

#chatting_menu {
    position: absolute;
    width: 110px;
    height: 475px;
    top: 90px;
    left: 278.5px;
    border: 1px solid gray;
    border-radius: 0 25px 25px 0;
    box-shadow: 0 1px 1px 1px lightgrey;
    z-index: 1000;
    background: whitesmoke;
    border: none;
    padding: 10px;
}

#memberList {
	height: 376px;
	overflow: auto;
}

#member_wrap {
	width: 100%;
    height: 37px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#member {
	font-size: 16px;
	font-weight: bolder;
}

#plusFriend {
	cursor: pointer;
    font-size: 20px;
    color: darkgreen;
}

#plusFriend:hover {
	color: black;
}

.room_wrap {
	width: 100%;
	height: 100%;
}

.room_head {
	display: flex;
	height: 90px;
	align-items: center;
	margin-left: 17.5px;
}
#room_img {
	width: 67px;
	height: 67px;
}
#room_title {
	font-size: 20px;
	margin-left: 17.5px;
	cursor: pointer;
}

.room_main {
	position: relative;
	margin-bottom: 32px;
	width: 391px;
	height: 496px;
	background-image: url("../../../../resources/image/채팅바탕.PNG"); 
	border-radius: 25px; 
	background-size: cover;
	box-shadow: rgba(0, 0, 0, 0.18) 0px 0px 5px 1px;
	margin-left: 17.5px;
}

.chatting_wrap {
	width: 364px;
	height: 424px;
	padding: 15px;
	overflow: auto;
}

.event_wrap {
	margin-bottom: 15px;
}

.sender_wrap {
	display: flex;
	margin-bottom: 15px;
	
}
#sender_name {
	margin-right: 15px;
	font-weight: bold;
}
#sender_msg {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 30px;
	max-width: 230px;
	position: relative;
	background-color: rgb(237, 237, 237);
	border-radius: 5px;
	margin-right: 10px;
	word-break: break-all;
	padding: 5px 10px 5px 10px;
}
#sender_msg_tail {
	position:absolute;
	width:0;
	height:0;
	left:0;
	top:40%;
	margin-left:-15px;
	border-top:8px solid transparent;
	border-bottom:8px solid transparent;
	border-right:16px solid rgb(237, 237, 237);
}
#send_time {
	display: flex;
	align-items: center;
	font-size: 12px;
}

.my_wrap {
	display: flex;
	flex-direction: row-reverse;
	margin-bottom: 15px;
	margin-right: 15px;
	
}
#my_msg {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 30px;
	max-width: 230px;
	position: relative;
	background-color: rgb(131, 221, 169);
	border-radius: 5px;
	margin-left: 10px;
	word-break: break-all;
	padding: 5px 10px 5px 10px;
}
#my_msg_tail {
	position:absolute;
	width:0;
	height:0;
	right:0;
	top:40%;
	margin-right:-15px;
	border-top:8px solid transparent;
	border-bottom:8px solid transparent;
	border-left:16px solid rgb(131, 221, 169);
}

.input_wrap {
	display: flex;
	position: absolute; 
	width: 94%;
	height: 39px;
	bottom: 20px;
	left: 12px;
}
#input_box {
	    width: 358px;
    height: 37px;
    border-radius: 25px 0 0 25px;
    border: none;
    padding: 0 20px 0 20px;
}

#send_btn {
	width: 59px;
	height: 37px;
	background-color: rgb(241, 196, 15);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0 25px 25px 0;
}

/* 채팅방 이름 변경 css */
.rename_modal_body{
	height: 100px;
	padding: 15px 40px 0 40px;
}

.rename_modal_Text{
	font-size: 18px;
	font-weight: bold;
	color: #8B8D8B;
	margin-bottom: 5px;
}

.rename_modal_body input{
	height: 30px;
	width: 300px;
	border-radius: 5px;
	border-color: rgb(213, 213, 213);
}

/* modal css */
.modal_tit{
	height: 50px;
	padding: 0 20px 0 20px;
	font-size: 19px;
}

.modal_btn_wrap{
	height: 50px;
}

.modal_btn_wrap>button{
	height: 32px;
	font-size: 15px;
}

