
html {
	width: 100%;
	height: 1205px;
	min-width: 1130px;
	display: flex;
	justify-content: center;
}

body {
	width: 1130px;
	height: 1205px;
	min-width: 1130px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.section{
	width: 1073px;
}



/* 검색 파트 */

.search-wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.search {
    display: flex;
    width: 620px;
    justify-content: space-between;
    margin-top: 35px;
    margin-left: 50px;
}
.search> .this-page-name {
    color: #b57033;
    font-size: 19px;
    font-weight: bold;
    line-height: 1.6;
}

.search> .search-form {
	display:flex;
	width: 300px;
	font-size: 19px;
	justify-content: space-between;
	position: relative;
}

.search> .search-form> #search-input {
    width: 250px;
    height: 28px;
    border: 2px solid lightgray;
    border-radius: 7px;
    margin-left: 50px;
}

#title{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#search-submit {
    position: absolute;
    left: 268px;
    color: #181818bf;
    top: 3px;
}


/* 여기서부터 toggle switch Css임. w3schools 에서 퍼움*/
/* https://www.w3schools.com/howto/howto_css_switch.asp */
.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 26px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3.7px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #34cb73;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* toggle switch css 끝 */






/* 검색 필터 */
.search-filter {
    height: 30px;
    width: 330px;
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    margin-right: 50px;
    align-content: center;
    align-items: center;
}

.search-filter> div {
    font-size: 17px;
    font-weight: bold;
    color: #534430;
}


.search-filter> #grade-dropdown {
    height: 33px;
    width: 100px;
    border: solid lightgray 2px;
    border-radius: 7px;
    cursor: pointer;
}

/* 상품목록 */

.item-list-wrapper {
	display: block;
	width: 1073px;
	height: 870px;
}

.item-list-wrapper> .item-list-line {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin: 50px 0 20px 5px;
}

.item-list-line> .item{
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 206px;
    height: 250px;
    margin: 0 40px 20px 20px;
    cursor: pointer;
}

.item-list-line> .item> .item-image{
	width: 200px;
	height: 150px;
	border: groove;
}




/* 상품목록 페이징 */

.pg_wrap { clear:both; }
.pg_page { /* 기본페이지 */
    width:30px !important;
    height:30px !important;
    font-size:15px;
    color:#333;
    line-height:33px;
    padding:0;
    background:#fff;
    border:0;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    text-align:center;
    display:inline-block;
}
.pg_page:hover {
    background:#f2f2f2;
}
.pg_current { /* 현재페이지 */
    width:30px !important;
    height:30px !important;
    font-size:15px;
    color:#fff;
    font-weight:normal;
    line-height:33px;
    margin:0;
    padding:0;
    background:#333;
    border:0;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    text-align:center;
    display:inline-block;
}

.pg_prev { /* 이전 */
    position:relative;
    top:50%;
    width:28px !important;
    height:28px !important;
    background:#fff;
    border:1px solid #ccc;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    text-indent:-9999px;
    display:inline-block;
}
.pg_prev:after {
    position:absolute;
    top:10px;
    left:13px;
    content:"";
    width:6px;
    height:6px;
    border-top:1px solid transparent;
    border-right:1px solid transparent;
    border-bottom:1px solid #777;
    border-left:1px solid #777;
    transform:rotate(45deg);
}
.pg_prev:hover {
    background:#fff;
    border:1px solid #333;
}
.pg_next { /* 다음 */
    position:relative;
    top:50%;
    width:28px !important;
    height:28px !important;
    background:#fff;
    border:1px solid #ccc;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    text-indent:-9999px;
    display:inline-block;
}
.pg_next:after {
    position:absolute;
    top:10px;
    right:13px;
    content:"";
    width:6px;
    height:6px;
    border-top:1px solid #777;
    border-right:1px solid #777;
    border-bottom:1px solid transparent;
    border-left:1px solid transparent;
    transform:rotate(45deg);
}
.pg_next:hover {
    background:#fff;
    border:1px solid #333;
}

.pg_start { /* 처음 */
    position:relative;
    top:50%;
    width:28px !important;
    height:28px !important;
    background:#fff;
    border:1px solid #ccc;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    text-indent:-9999px;
    display:inline-block;
}
.pg_start:after {
    position:absolute;
    top:10px;
    left:10px;
    content:"";
    width:6px;
    height:6px;
    border-top:1px solid transparent;
    border-right:1px solid transparent;
    border-bottom:1px solid #777;
    border-left:1px solid #777;
    transform:rotate(45deg);
}
.pg_start:before {
    position:absolute;
    top:10px;
    left:16px;
    content:"";
    width:6px;
    height:6px;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid #777;
    border-left: 1px solid #777;
    transform:rotate(45deg);
}
.pg_start:hover {
    background:#fff;
    border:1px solid #333;
}

.pg_end { /* 맨끝 */
    position:relative;
    top:50%;
    width:28px !important;
    height:28px !important;
    background:#fff;
    border:1px solid #ccc;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    text-indent:-9999px;
    display:inline-block;
}
.pg_end:after {
    position:absolute;
    top:10px;
    right:10px;
    content:"";
    width:6px;
    height:6px;
    border-top:1px solid #777;
    border-right:1px solid #777;
    border-bottom:1px solid transparent;
    border-left:1px solid transparent;
    transform:rotate(45deg);
}
.pg_end:before {
    position:absolute;
    top:10px;
    right:16px;
    content:"";
    width:6px;
    height:6px;
    border-top:1px solid #777;
    border-right:1px solid #777;
    border-bottom:1px solid transparent;
    border-left:1px solid transparent;
    transform:rotate(45deg);
}
.pg_end:hover {
    background:#fff;
    border:1px solid #333;
}

.hooter {
	height: 200px;
}

.item-title-wrapper {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 210px;
    text-align: center;
}
