<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<settings>
  		<setting name="mapUnderscoreToCamelCase" value="true"/>
  	</settings>
  	
  	<typeAliases>
  		<typeAlias alias="Member" type="com.kh.hehyeop.member.model.dto.Member"/>
  		<typeAlias alias="Token" type="com.kh.hehyeop.mypage.model.dto.Token"/>
  		<typeAlias alias="Review" type="com.kh.hehyeop.help.model.dto.Review"/>
  		<typeAlias alias="Paging" type="com.kh.hehyeop.common.util.paging.Paging"/>
  		<typeAlias alias="PurchaseMain" type="com.kh.hehyeop.purchase.model.dto.PurchaseMain"/>
  		<typeAlias alias="MyPurchaseInfo" type="com.kh.hehyeop.purchase.model.dto.MyPurchaseInfo"/>
  		<typeAlias alias="HelpRequest" type="com.kh.hehyeop.help.model.dto.HelpRequest"/>
  		<typeAlias alias="MyRequest" type="com.kh.hehyeop.company.model.dto.MyRequest"/>
  		<typeAlias alias="Community" type="com.kh.hehyeop.community.model.dto.Community"/>
  		<typeAlias alias="Expense" type="com.kh.hehyeop.management.model.dto.Expense"/>
  	</typeAliases>
  	
  	<mappers>
  		<mapper resource="mybatis/mapper/mybatisMapper.xml"/>
  		<mapper resource="mybatis/mapper/mypageMapper.xml"/>
  		<mapper resource="mybatis/mapper/helpMapper.xml"/>
  		<mapper resource="mybatis/mapper/chatMapper.xml"/>
  		<mapper resource="mybatis/mapper/purchaseMapper.xml"/>
  		<mapper resource="mybatis/mapper/companyMapper.xml"/>
  		<mapper resource="mybatis/mapper/managementMapper.xml"/>
  		<mapper resource="mybatis/mapper/CommunityMapper.xml"/>
  		<mapper resource="mybatis/mapper/mainMapper.xml"/>
  	</mappers>

  </configuration>