<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<settings>
  		<setting name="mapUnderscoreToCamelCase" value="true"/>
  	</settings>
  	
  	<typeAliases>
  		<typeAlias alias="Member" type="com.kh.hehyeop.member.model.dto.Member"/>
  		<typeAlias alias="Token" type="com.kh.hehyeop.mypage.model.dto.Token"/>
  		<typeAlias alias="Review" type="com.kh.hehyeop.help.model.dto.Review"/>
  		<typeAlias alias="Paging" type="com.kh.hehyeop.common.util.paging.Paging"/>
  	</typeAliases>
  	
  	<mappers>
  		<mapper resource="mybatis/mapper/mybatisMapper.xml"/>
  		<mapper resource="mybatis/mapper/mypageMapper.xml"/>
  		<mapper resource="mybatis/mapper/helpMapper.xml"/>
  	</mappers>

  </configuration>