@charset "UTF-8";

.main{
	display: flex;
	height: 850px;
	width: 1130px;
}

.aside{
	height: 100%;
	width: 230px;
}

.help_list{
	border: none;
	padding-left: 8px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 80px 0 20px 0;
	height: 80px;
	width: 170px;
	font-size: 28px;
	color: white;
	font-weight: bold;
	box-shadow: 0px 10px 10px #808080;
	text-shadow: 2px 2px 5px #808080;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
	background-color: rgba(52, 73, 94, 0.33);
}

.help_list:hover{
    box-shadow: inset 0 0 5px 1px #808080;
}

.my_help{
	border: none;
	padding-left: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 30px 0 0 0; 
	height: 60px;
	width: 130px;
	font-size: 25px;
	color: white;
	font-weight: bold;
	box-shadow: 0px 10px 10px #808080;
	text-shadow: 2px 2px 5px #808080;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;
	background-color: rgba(52, 73, 94, 0.98);
}

.my_help:hover{
	box-shadow: inset 0 0 5px 1px #243342;
}

.section{
	display: flex;
	justify-content: flex-start;
	height: 100%;
	width: 900px;
}

.wrapper{
	width: 820px;
}

.menu_title{
	margin: 70px 0 15px 0;
	height: 50px;
	padding-left: 20px;
	display: flex;
	align-items: center;
	font-size: 28px;
	font-weight: bold;
	color: rgb(52, 73, 94);
}

.content_wrapper{
	display: flex;
	justify-content: space-between;
	height: 480px;
}

.inp_title{
	display: flex;
	margin-top : 20px;
	height: 30px;
	align-items: center;
	color: #e67e00;
	font-size: 15px;
	font-weight: bold;
	font-family: '나눔고딕 ExtraBold';
}

.content_left{
	height: 100%;
	width: 395px;
}

.help_img{
	height: 260px;
	width: 395px;
	border-radius: 15px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

textarea{
	resize: none;
	height: 162px;
	width: 378px;
	border-radius: 15px;
	border-style: solid;
	border-width: 1.8px;
	border-color: #d9d9d9;
	color: #666666;
	font-family: 'Han Sans, 본고딕';
	padding: 5px 10px 5px 10px;
}

.content_right{
	height: 100%;
	width: 395px;
}

input{
	width: 388px;
	height: 40px;
	border-radius: 8px;
	border-style: solid;
	border-width: 1.8px;
	border-color: #d9d9d9;
	color: #666666;
	font-family: 'Han Sans, 본고딕';
	padding-left: 10px;
}

textarea:focus, input:focus{
	outline: none;
}

.join_btn{
	height: 80px;
	margin-top: 25px;
}

.join_btn>button{
	width: 828px;
	height: 100%;
	font-size: 30px;
	font-weight: bold;
	color: white;
	background-color: rgba(52, 73, 94, 0.98);
	border-radius: 10px;
}

.join_btn>button:hover{
	background-color: #3f5973;
	box-shadow: inset 0 0 5px 1px #243342;
}

.footer{
	height: 250px;
	width: 1130px;
	display: flex;
	background-image: url("../../../resources/image/footer.png");
	background-repeat: no-repeat;
	background-size: 1130px 250px;
	background-position: center;
}

.footer pre{
	display: block;
	color: white;
	font-weight: bold;
	font-size: 14px;
	font-family: '맑은 고딕';
	margin: 0 15px 0 15px;
	line-height: 1.5
}

.footer_logo{
	margin: 80px 5px 0 50px;
}

.footer_text{
	margin: 80px 0 0 5px;
}

.footer_title{
	margin: 10px 0 30px 0;
}

.footer_content{
	display: flex;
	margin-top: 20px;
}

.logo-icon{
	height: 40px;
	width: 40px;
}