.company_list {
	margin: 30px 0 30px 50px;
	width: 930px;
	height: 130px;
	overflow: hidden auto;
	display: none;
}

.company_list table {
	width: 900px;
	border: 2px solid rgb(204, 204, 204);
	border-collapse: collapse;
	text-align: center;
}

.company_list th {
	border: 1px solid rgb(204, 204, 204);
	border-collapse: collapse;
	background-color: rgb(234, 234, 234);
	height: 40px;
}

.company_list td {
	border: 1px solid rgb(204, 204, 204);
	border-collapse: collapse;
	height: 40px;
}

.company_list td>button {
	width: 70px;
	height: 30px;
	border-radius: 5px;
	background-color: rgb(213, 213, 213);
}

.company_detail {
	width: 930px;
	height: 550px;
	border: 1px solid rgb(213, 213, 213);
	overflow: auto;
	margin-left: 50px;
	display: none;
}

.detail_body {
	width: 900px;
	height: 80px;
}

.estilmate-text-area {
	height: 70px;
	width: 200px;
	margin: 10px 80px 30px 10px;
	display: inline-flex;
	margin: 10px 80px 30px 10px;
}

.estilmate-text-title {
	color: rgb(242, 150, 97);
	font-weight: bolder;
	font-size: 15px;
	margin-bottom: 10px;
}

.estilmate-text-input input {
	width: 200px;
	height: 35px;
	border-radius: 5px;
	border-color: rgb(213, 213, 213);
}

.photo_title {
	margin-top: 30px;
	text-align: center;
	font-weight: bolder;
	font-size: 25px;
}

.detail_photo {
	margin-top: 30px;
	text-align: center;
	position: relative;
}