.wrap {
	width: 1130px;
	height: 100%;
}

.page_name {
	margin: 50px 0 30px 0;
	font-size: 23px;
	color: rgb(170, 133, 20);
	font-weight: bolder;
	display: flex;
}

.my_info {
	margin-left: 30px; 
	height: 150px;
	width: 1000px;
}

.my_name {
	margin: 0 10px 10px 0;
	font-size: 19px;
}

.my_name a {
	font-weight: bolder;
}

.left_info {
	width: 450px;
	height: 100px;
	float: left;
}

.right_info {
	width: 450px;
	height: 100px;
	float: right;
}

.info_title{
	margin-right: 60px;
	width: 50px;
	font-weight: bolder;
	display: inline-flex;
}

.info_body{
	display: inline-flex;
}

.info_btn{
	display: inline-flex;
	float: right;
}

.info_btn button {
	width: 70px;
	height: 25px;
	border-radius: 5px;
	background-color: rgb(213,213,213);
}

.info_line{
	height: 2px;
	background-color: rgba(213,213,213,0.7); 
	margin: 10px 0 10px 0;
}

.req_list{
	width: 1100px;
	height: 330px;
	margin: 0 0 0 20px;
	position: relative;
}

.state_filter{
	position: absolute;
	top: -15px;
	right: 94px;
	width: 130px;
	height: 30px;
	color: gray;
	border: 2px solid orange;
	border-radius: 10px;
}

.state_filter option{
	color: gray;
}

.req_list table{
	width: 1010px;
	text-align: center;
	border-collapse: collapse;
}

.req_list tr{
	height: 40px;
}

.req_list th, .req_list td{
	border-bottom: 1px solid;
	border-bottom-color:rgb(213,213,213);
	height: 35px;
}

.help_list>tr:hover{
	background-color: lightgray;
}

.list_btn{
	width: 70px;
    height: 24px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
    color: black;
    border: 0;
    margin-right: 6px;
    box-shadow: 0 2px 2px 1px grey;
}

.list_btn:hover{
	box-shadow: inset 0 0 5px 1px grey;
}

.list_btn_red{
	width: 70px;
    height: 24px;
    border-radius: 5px;
    background-color: lightcoral;
    cursor: pointer;
    font-weight: bolder;
    color: white;
    border: 0;
    margin-right: 6px;
    box-shadow: 0 2px 2px 1px grey;
}

.list_btn_red:hover{
	box-shadow: inset 0 0 5px 1px #71180e;
}

.list_btn_green{
	width: 70px;
    height: 24px;
    border-radius: 5px;
    background-color: rgb(60, 179, 113);
    cursor: pointer;
    color: white;
    font-weight: bolder;
    border: 0;
    margin-right: 6px;
    box-shadow: 0 2px 2px 1px grey;
}

.list_btn_green:hover{
	box-shadow: inset 0 0 5px 1px #18683a;
}

.page{
	width: 300px;
	height: 50px;
	position: absolute;
	bottom: 10px;
	left: 355px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-weight: bold;
	font-size: 18px;
}

.page>i{
	font-size: 25px;
	color: #cccccc;
}

.page>i:hover{
	color: #b3b3b3;
	cursor: pointer;
}

.page>div{
	display: flex;
	width: 130px;
	justify-content: center;
}

.page>div>span:hover{
	color: black;
	cursor: pointer;
}

.page span{
	display: inline-block;
	width: 26px;
	text-align: center;
	color: #bfbfbf;
}

.page>div>.selected{
	color: black;
}

.breakdown{
	display: none;
	width: 1030px;
	height: 800px;
	margin-bottom: 30px;
}

.bk_btn{
	display: inline-flex;
	border: none;
	width: 100px;
	height: 30px;
	justify-content: center;
	font-weight: bolder;
	font-size: 18px;
	border-radius: 5px 5px 0 0;
	color: gray;
}

.bk_body{
	width: 1030px;
	height: 770px;
	border: 1px solid;
	border-color: rgb(213,213,213);
}


/* 팝업창 */
.modal {
	border: none;
}

/* 팝업창 버튼 색 */
.modal_right_btn {
	border: none;
}


.modal_left_btn {
	border: none;
}

.rating{
	display: flex;
	position: relative;
	padding: 0 40px;
}

.back_star{
	text-align: center;
	font-size: 58px;
	color: gold;
}

.middle_rating{
	position: absolute;
	display: flex;
}

.front_star{
	text-align: center;
	font-size: 58px;
	color: gold;
}

.front_rating{
	position: absolute;
	display: flex;
	cursor: pointer;
}

.modal_select_wrapper{
	margin-top: 25px;
}

.select_text{
	height: 40px;
	padding-left: 100px;
	font-size: 18px;
	font-weight: bold;
	color: #a6a6a6;
	cursor: pointer;
}

.selected_review{
	color: rgb(106, 176, 223);
}
