html, body {
	width: 100%;
	height: 100%;
	min-width: 1130px;
	display: flex;
	justify-content: center;
}

.navbar {
   width: 1130px;
   height: 100px;
   display: flex;
   justify-content: space-around;
   flex-shrink: 0;
   position: relative;
}

.nav_group {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}

.nav_info {
   display: flex;
   justify-content: flex-end;
   margin-right: 75px;
   font-size: 17px;
}

.userName {
   margin-right: 6px;
   font-weight: bolder;
}

.nim {
   margin-right: 10px;
   font-size: 13px;
   align-self: center;
   margin-top: 4px;
   font-weight: bolder;
}

.medal {
   margin-right: 20px;
   align-self: center;
   color: #e6bc14;
}

.mypage {
   margin-right: 20px;
   font-weight: bolder;
}

.logout {
   font-weight: bolder;
   color: #e67e00
}

.nav_title {
   display: flex;
   justify-content: space-around;
   font-size: 20px;
   font-weight: bolder;
}

.nav_title>a>div {
   width: 90px;
}

.nav_title div:hover {
   color:  rgb(41, 128, 185);
}

/*로고*/
.logo {
   width: 200px;
   align-self: center;
}

/* 상단 메뉴바 css */
.gnb__sub-category-wrap {
    display: none;
    font-size: 0;
    position: absolute;
    width: 1130px;
    height: 200px;
    left: 0;
    bottom: -190px;
    z-index: 2002;
}

.gnb__sub-category-wrap>div {
   display: flex;
}

.gnb__sub-category-img-wrap {
    display: inline-block;
    padding-top: 20px;
    width: 200px;
    height: 200px;
    max-height: 100%;
   background-color: white;
}

.gnb__sub-category-img {
    width: 100%;
    height: 180px;
}

.bee1 {
   width: 100%;
   height: 180px;
}

.gnb__2depth-wrap {
    width: 930px;
    height: 210px;
    padding-top: 10px;
    display: flex;
   justify-content: space-around;
   font-size: 20px;
   font-weight: bolder;
   background-color: white;
}

.gnb-2depth {
    display: inline-block;
    padding-right: 4px;
    height: 100%;
    font-size: 13px;
    line-height: 1.3;
    vertical-align: top;
}

.gnb-2depth__list {
    padding-bottom: 10px;
}

.gnb-2depth__item {
    padding: 10px 0;
    width: 90px;
}
.gnb-2depth__item a {
   font-size: 15px;
   flex-shrink: 0;
    color: gray;
}

.gnb-2depth__item a:hover {
    color: black;
    font-weight: bolder;
}

.login_btn{
	font-weight: bolder;
   color: #e67e00
}

.join_btn{
	margin-right: 20px;
   font-weight: bolder;
}

a{
   color:black;
   text-decoration: none;   
   cursor:pointer;
   margin: 0;
}

li, a, ul {
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

ul {
   list-style: none;
}